.left_col_dashboard {
    display: flex;
    flex-direction: column;

    width: 20%;
    height: 100vh;
    background-color: #363641
}

.expartia_logo_nav {
    padding-left: 30px;
    display: flex;
    align-items: center;
    color: white;
}

.left_nav {
    margin-top: 20px;
    color: white;
}

.left_nav>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 30px;
    padding: 10px;
}

.left_nav>div>p {
    margin-left: 20px;
}

.left_nav :hover {
    background-color: #6d5be9;
}